body {
  font-family: Oswald;
  background-color: #222;
  color: #fff;
  text-align: center;
}

h1, h2, h3 {
    font-weight: 200;
}

h2, h3 {
    margin: 0;
}

table {
  margin: auto;
  width: 100%;
}

th {
  background-color: #0a6d6d;
}
